@{
    ViewData["Title"] = "Carrito";
}

<h1>Carrito</h1>
<section id="carrito-container">
    <div id="carrito-peliculas">
    </div>
    <div id="comprar-btn-container">
    </div>
</section>

@section Scripts {
    <script src="~/js/cart.js"></script>
}