@{
    ViewData["Title"] = "Inicio";
}

<h1>MiCine Web</h1>
<p>Descubre y compra tus peliculas favoritas</p>

<section id="peliculas-recomendadas">
<h2>Películas recomendadas</h2>
<div id="peliculas-recomendadas-container">
    <div class="pelicula-tarjeta">
    <h3>Interstellar</h3>
    <img src="https://duckduckgo.com/i/2bda01e5c1fbb336.jpg" alt="interstellar poster" />
    <p>Ambientada en un futuro distópico donde la humanidad está luchando por sobrevivir, ya que la Tierra se está volviendo inhabitable por el polvo que está arrasando con todo, cuenta la historia de un grupo de astronautas que viajan a través de un agujero de gusano cerca de Saturno en busca de un nuevo hogar para la humanidad.</p>
    </div>
    <div class="pelicula-tarjeta">
    <h3>Drive</h3>
    <img src="https://duckduckgo.com/i/f4c85b15f606b816.jpg" alt="drive poster" />
    <p>Un "conductor" sin nombre, cuyas habilidades al volante son evidentes, trabaja en el garaje de Shannon, en Los Ángeles, y ocasionalmente realiza trabajos como especialista en escenas de riesgo en producciones de cine, doble de riesgo conduciendo un coche que se debe accidentar o como conductor de huida por asaltos en peligrosas misiones nocturnas, en coches que él roba y luego deja abandonados. Sus reglas son que siempre trabaja de forma anónima y nunca dos veces para la misma persona</p>
    </div>
    <div class="pelicula-tarjeta">
    <h3>La lista de Schindler</h3>
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fes.web.img3.acsta.net%2Fpictures%2F19%2F02%2F12%2F18%2F49%2F4078948.jpg&f=1&nofb=1&ipt=c05890f03920d9d02f0d1c881692b634a1d0bbd241b270937959ab2a60b64a2c" alt="schindler list poster" />
    <p>En Cracovia, durante la Segunda Guerra Mundial, las tropas alemanas de ocupación han forzado a los judíos polacos a vivir recluidos en un gueto. El empresario Oskar Schindler, de etnia alemana y miembro del Partido Nazi, llega a la ciudad decidido a hacer fortuna. Adquiere una fábrica para producir menaje esmaltado. Para ayudarlo en la gestión del negocio. Schindler mantiene relaciones amistosas con los nazis y disfruta de cierta riqueza y estatus social como «Herr Direktor». Contrata empleados judíos porque sus sueldos son inferiores por imposición alemana y porque busca salvar a su pueblo de la deportación a los campos de concentración convirtiéndolos en trabajadores esenciales para el esfuerzo de guerra alemán.</p>
    </div>
</div>
</section>

<section id="funcionalidades-container">
<div class="funcionalidades-tarjeta">
    <h3>📽️ Explora</h3>
    <p>Sumérgete en una amplia colección de películas de todos los géneros. Usa filtros inteligentes para descubrir nuevos títulos, ver recomendaciones personalizadas y encontrar exactamente lo que quieres ver.</p>
</div>
<div class="funcionalidades-tarjeta">
    <h3>🎟️ Compra tus películas favoritas</h3>
    <p>¿Te encantó una película? ¡Hazla tuya! Compra películas digitales con un solo clic y accede a ellas siempre que quieras desde tu biblioteca personal. Sin suscripciones, sin vencimientos. Solo tú y tu colección.</p>
</div>
<div class="funcionalidades-tarjeta">
    <h3>✍️ Comparte tu opinión</h3>
    <p>Después de ver una película, deja tu reseña y comparte tu experiencia con otros usuarios. Ya sea una crítica profunda o un simple “¡Me encantó!”, tus palabras ayudan a otros a decidir qué ver.</p>
</div>
</section>

<section id="informacion-sesion">
</section>
