@{
    ViewData["Title"] = "Biblioteca";
}

<h1>Mi biblioteca</h1>
<section id="inventario-container">
</section>

@section Scripts {
    <script src="~/js/inventory.js" asp-append-version="true"></script>
}