@{
    ViewData["Title"] = "Inicio de sesion";
}

<h1>Inicio de sesión</h1>
<div class="registro-login-container">
<form id="login-form" action="">
    <label>
    Nombre de usuario
    <input name="username" type="text" placeholder="Ingresa tu nombre de usuario" required />
    </label>
    <label>
    Contraseña
    <input name="password" type="password" placeholder="Ingresa una contraseña" minlength=8 required />
    </label>

    <button class="btn-primario">Iniciar sesión</button>
    <p>¿No tienes cuenta? <a href="register.html">Regístrate</a></p>
</form>
</div>

@section Scripts {
    <script src="~/js/session.js" asp-append-version="true"></script>
}